*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.adote{
    color: rgb(49, 49, 49);
    margin: 0px 0px 0px 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    font-size:large;
    background-color: rgb(0, 141, 160);
    font-family: fantasy;
    align-items: center;
    width: 100ww;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-color: rgb(210, 185, 233);
}
.menu{
    display: flex;
    align-items: center;
}
.botao{
    padding: 10px;
}
.botao:hover{
    color: rgb(0, 86, 88);
    transition: 1s;
}
.adote:hover{
   font-size: larger;
}
.home{

    font-size:large;
    background-color: rgb(0, 174, 243);
    font-family: fantasy;
}
.sobre{
    font-size:large;
    background-color: rgb(0, 174, 243);
    font-family: fantasy;
}
.contato{
    font-size:large;
    background-color: rgb(0, 174, 243);
    font-family: fantasy;
}
.pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
color: white;
display: flexbox;
align-items: center;
background-color: rgb(0, 86, 88);
}
.rodape{
    display: flex;
    flex-direction: row;
    margin: 270px 0px 0px 10px;
}
@media (max-width: 800px){
.adote{
    display:none;
}
.containcenter{
    justify-content: center;
}
@media (max-width: 700px){
.menurow{
    display: block;
    text-align: center;
    justify-content: center;
}
.pics{
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    }
}
.containcenter{
    justify-content: center;
}
}
